@charset "UTF-8";

/* Todas as demais mídias */
/* Typical Device Breakingpoints */
-----------------------------------
/* 
Pequenas Telas: 1 a 600px
Mobile: 601 a 920px
Tablets: 921 a 1080px
Desktop: 1080 a 1920px
Telas Grandes: Acimas de 1920px
*/
-----------------------------------

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}