@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vw 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
}


section.image > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.384);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}