@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background: darkgray;
}

header {
    background: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
}

section.normal {
    background: white;
    color: black;
}

section.image {
    background: rgb(51,51,51);
    color: white;
}

section.image p {
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.205);
}

footer {
    background: black ;
    color: white;
    text-align: center;
    padding: 10px;
}