@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #a9a9a9d2;
}

header {
    background-color: #646464;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #646464;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav > menu {
    display: none;
    width: 100%;
}

nav i {
    background-color: #252525;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

nav i:hover {
    background-color: #252525cb;
    color: rgba(255, 255, 255, 0.856);
}

nav > menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid rgb(129, 129, 129);
    background-color: rgb(87, 87, 87);
    color: #fff;
}

nav > menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    padding: 10px;
    margin: 2% auto;
    border-radius: 10px;
    background-color: white;
}

main h1 {
    font-size: 1.2em;
    margin-bottom: 2%;
}

main p {
    width: 100%;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 30px;
    margin: 10px 0;
}