@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

@media screen and (min-width: 768px) {
    nav i.fa-bars {
        display: none;
    }

    nav menu#menulist {
        display: block;
    }

    nav > menu > ul > li {
        display: inline-block;
    }

    main {
        width: 80vw;
    }
}

@media screen and (min-width: 1080px) {
    main {
        width: 50vw;
    }
}