@media screen and (min-width: 768px) {
    nav i.fa-bars {
        display: none;
    }

    nav menu#menulist {
        display: block;
    }

    nav > menu > ul > li {
        display: inline-block;
    }

    main {
        width: 80vw;
    }
}

@media screen and (min-width: 1080px) {
    main {
        width: 50vw;
    }
}