@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1080px) {
    main {
        width: 60vw;
    }

    nav {
        background-color: #808080;
        text-align: left;
    }

    nav .fa-bars {
        display: none;
    }

    nav .link {
        display: inline-block;
        margin: 0 3px;
        padding: 7px;
        border-radius: 3px;
        background-color: #00000093;
        color: white;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
    main {
        width: 50vw;
    }

    nav {
        background-color: #808080;
        text-align: left;
    }

    nav .fa-bars {
        display: none;
    }

    nav .link {
        display: inline-block;
        margin: 0 3px;
        padding: 7px;
        border-radius: 3px;
        background-color: #00000093;
        color: white;
    }
}

@media screen and (min-width: 1920px) {
    main {
        max-width: 40vw;
    }

    nav {
        background-color: #808080;
        text-align: left;
    }

    nav .fa-bars {
        display: none;
    }

    nav .link {
        display: inline-block;
        margin: 0 3px;
        padding: 7px;
        border-radius: 3px;
        background-color: #00000093;
        color: white;
    }
}